:root{
  --corPrimaria: rgb(72, 118, 217);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.containerPrincipal{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 85vh;
}